In [1]:
import pandas as pd

# dataframe
tab = pd.read_csv('current_course_grades.csv')
num = [i+1 for i in range(15)]
tab.index = num
print(tab, '\n', type(tab))

         name   surname  av_grade  cur_grade  cur_attempts
1     Griffin    Mcleod      53.0         19             3
2   Allistair    Patton      65.7         57             2
3        Rina    Slater      72.7         78             1
4    Caldwell   Skinner      77.3         92             1
5      Portia  Galloway      54.3         23             3
6    Hadassah      Lowe      74.7         84             1
7      Ingrid      Yang      67.7         63             2
8      Trevor    Spence      66.3         59             2
9        Iola      West      67.0         61             2
10      Kitra    Sparks      62.3         47             1
11      Carly      Bray      55.7         27             3
12    Leilani     Beard      79.7         99             1
13    Cameron     Bowen      74.7         84             1
14      Hilda    Oneill      78.3         95             1
15        Ori     Short      63.3         50             3
 <class 'pandas.core.frame.DataFrame'>

In [2]:
# add data
cur_res = ['not passed', 'passed', 'passed', 'passed', 'not passed',
           'passed', 'passed', 'passed', 'passed', 'not passed',
           'not passed', 'passed', 'passed', 'passed', 'passed']
status = pd.Series(data=cur_res, index=num)
tab['status'] = status
print(tab)

         name   surname  av_grade  cur_grade  cur_attempts      status
1     Griffin    Mcleod      53.0         19             3  not passed
2   Allistair    Patton      65.7         57             2      passed
3        Rina    Slater      72.7         78             1      passed
4    Caldwell   Skinner      77.3         92             1      passed
5      Portia  Galloway      54.3         23             3  not passed
6    Hadassah      Lowe      74.7         84             1      passed
7      Ingrid      Yang      67.7         63             2      passed
8      Trevor    Spence      66.3         59             2      passed
9        Iola      West      67.0         61             2      passed
10      Kitra    Sparks      62.3         47             1  not passed
11      Carly      Bray      55.7         27             3  not passed
12    Leilani     Beard      79.7         99             1      passed
13    Cameron     Bowen      74.7         84             1      passed
14      Hilda    Oneill      78.3         95             1      passed
15        Ori     Short      63.3         50             3      passed

In [3]:
# statistics
print('av_grade: min =', tab['av_grade'].min(),
      'max =', tab['av_grade'].max(),
      'mean =', tab['av_grade'].mean(),
      'median =', tab['av_grade'].median())

av_grade: min = 53.0 max = 79.7 mean = 67.51333333333334 median = 67.0

In [4]:
# exam 1 attempt
one_attempt = tab[(tab['cur_attempts'] == 1) & (tab['status'] == 'passed')]
one_attempt_count = one_attempt['cur_attempts'].count()
print('number of students passed the exam in 1 attempt =', one_attempt_count)

number of students passed the exam in 1 attempt = 6

In [5]:
# series
cur_res = tab.loc[:, 'cur_grade']
print(cur_res, type(cur_res))

1     19
2     57
3     78
4     92
5     23
6     84
7     63
8     59
9     61
10    47
11    27
12    99
13    84
14    95
15    50
Name: cur_grade, dtype: int64 <class 'pandas.core.series.Series'>

In [6]:
# series
group_list = tab['surname'] + ' ' + tab['name']
group_list = group_list.sort_values(ascending=True)
group_list.index = num
print(group_list, type(group_list))

1        Beard Leilani
2        Bowen Cameron
3           Bray Carly
4      Galloway Portia
5        Lowe Hadassah
6       Mcleod Griffin
7         Oneill Hilda
8     Patton Allistair
9            Short Ori
10    Skinner Caldwell
11         Slater Rina
12        Sparks Kitra
13       Spence Trevor
14           West Iola
15         Yang Ingrid
dtype: object <class 'pandas.core.series.Series'>